<!DOCTYPE html>
<html>
  <head>
    <title>Noted</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Noted</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('read')}}">All Notes</a> |
          <a href="{{ url_for('create')}}">Create a Note</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          Don't forget things with Noted!
        </p>
      </footer>
    </div>
  </body>
</html>
